.card{
    border: 2px solid rgb(197, 189, 189);
    border-radius: 10px;
    outline: none;
    padding: 10px;
    height: 510px;
    width: 320px;
}
.cards{
    /* border: 1px solid green; */
    padding: 10px;
    display: flex;
    margin-top: 15px;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.cardButtons{
    background-color: rgb(235, 164, 32);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid grey;
}