.heading{
    /* background-color: aqua; */
    background-image: url('C:\Users\91620\OneDrive\Desktop\React\satyacart\public\slider1.png');
    height:450px;
}

.title{
    padding-top: 50px;
    padding-left: 40px;
    margin-top: 10px;
}
.title h1{
    font-size: 50px;
    
}
.title p{
    font-size: 25px;
}